/*Making page consistent - no empty space on left side and background blends in w menu section*/
body {
    margin: 0px; 
    background-color:#262626;
    color:#FFFFFF;
}

/*Black inline block with rounded borders*/
span.black {display:inline-block;width:400px;height:400px;background-color:#080e4b;margin:10px;border:5px solid #7D80FF;padding:5px;border-radius:35px;text-align: center;font-size: large;}

/*Blue button*/
button.blue {color: #DADDFF; background-color:#7D80FF;border-color:#DADDFF;border-width:3px;padding:2px;border-radius:2px;}


/*White button*/
button.white {color: #7D80FF; background-color:#DADDFF;border-color:#7D80FF;border-width:3px;padding:2px;border-radius:2px;}

/*Line break*/
hr {color:#7D80FF;}

/*Input field*/
input {background-color: #DADDFF;}

/*Button-style input*/
input.buttonw {
    font-size: medium; color: #7D80FF; background-color:#DADDFF;border-color:#7D80FF;border-width:3px;padding:6px,3px;border-radius:5px;
}

/*For top menu bar*/
.top-bar-container {
    background-color: #262626;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.logo-bar {
    width: 30px;
    height: 30px;
    padding-top: 14%;
    margin: 0 auto;
}

.navigation-bar {
    color: #FFFFFF;
}
.navigation-bar li {
    display: inline-block;
    padding: 5%;
    font-size: large;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #7D80FF;
    text-shadow: 2px 2px 4px black;
}


.login-button {
    display: inline;
    padding-top: 9%;
    
}


.login-btn {
    padding: 5%;
    border-radius: 30px;
    width: 60%;
    font-size: large;
    box-shadow: 0px 0px 0px black;
    color: #7D80FF; 
    background-color:#DADDFF;
    border-color:#7D80FF;
    border-width:3px;
    
}

.login-btn:hover {
    color: #51578b;
    animation: shadow 0.5s forwards;

}

@keyframes shadow {
    0%
    {
        box-shadow: 0px 0px 0px black;
    }
    100%
    {
        box-shadow: 0px 8px 20px black;
    }
}

.login-btn:active{
    background: #FF511C;
    color: #262626;
}
/*For hero element below menu bar*/
.hero-mainpg {
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 10%;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: xxx-large;
}

.cool-text {

    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        #DADDFF,
        #B5BBFF,
        #7D80FF,
        #FFA88E,
        #FF511C,
        #FFA88E,
        #7D80FF,
        #B5BBFF,
        #DADDFF
    );
    background-size: 200%;
    /*background-clip twice to make sure VScode does not throw a warning, somehow more reliable as wewll*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from
    {
        background-position: 0% center;
    }
    to
    {
        background-position: -200% center
    }
}

.hero-text-small {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

/*Indicator for user to scroll down*/
.scroll-down-container {
    font-size: x-large;
    color: #FFFFFF;
    margin-top: 10%;
    margin-bottom: 5%;
}

.scroll-down-arrow {
    animation: scroll-down 4s ease infinite;
    position: relative;

}

@keyframes scroll-down {
    0%
    {
        opacity: 0%;
    }
    10%
    {
        transform: translateY(0%); opacity: 1;
    }
    100%
    {
        transform: translateY(10%); opacity: 0;
    }
}